{% load static %}
{% load form_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Formulario de Registro de asistente</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="apellido" class="form-label" placeholder="Ingrese su apellido" required>APELLIDOa</label>
                {{ form.apellido|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="nombres">NOMBRES (COMPLETO)</label>
                {{ form.nombres|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="dni">NUMERO DE DOCUMENTO</label>
                {{ form.dni|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="fecha_nac">FECHA DE NACIMIENTO</label>
                {{ form.fecha_nac|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="ciudad">CIUDAD</label>
                {{ form.ciudad|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="provincia">PROVINCIA</label>
                {{ form.provincia|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="nombre_apellido_paterno">NOMBRE Y APELLIDO PATERNO</label>
                {{ form.nombre_apellido_paterno|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="nombre_apellido_materno">NOMBRE Y APELLIDO MATERNO</label>
                {{ form.nombre_apellido_materno|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="celular">N°CELULAR ( código de área sin 0 ni 15)</label>
                {{ form.celular|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="domicilio_actual">DOMICILIO ACTUAL</label>
                {{ form.domicilio_actual|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="correo_electronico">CORREO ELECTRÓNICO</label>
                {{ form.correo_electronico|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="foto">AGREGAR FOTO PARA CREDENCIAL ( FONDO BLANCO, DE HOMBROS PARA ARRIBA CON BUENA LUZ)</label>
                {{ form.foto|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="ministerio">NOMBRE DE IGLESIA Y PASTOR QUE LO AUTORIZA</label>
                {{ form.ministerio|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="registro">REGISTRO, FICHERO DE CULTO</label>
                {{ form.registro|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="unidad_carcelaria">UNIDAD CARCELARIA</label>
                {{ form.unidad_carcelaria|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="tipo_pabellon">TIPO DE PABELLÓN</label>
                {{ form.tipo_pabellon|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="numero_pabellon">IDENTIFICACIÓN DEL PABELLÓN ( Nº, SECCIÓN, ETC)</label>
                {{ form.numero_pabellon|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="seccion_pabellon">SECCION</label>
                {{ form.seccion_pabellon|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="otros_pabellon">OTROS</label>
                {{ form.otros_pabellon|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="autorizacion_iglesia">AUTORIZACIÓN FIRMADA POR PASTOR PRINCIPAL CON SU Nº DE TELÉFONO</label>
                {{ form.autorizacion_iglesia|add_class:"form-control" }}
            </div>
            <div class="form-group mb-3">
                <label for="activo">ACTIVO</label>
                {{ form.activo|add_class:"form-Check-input" }}
            </div>
            <button type="submit" class="btn btn-primary mb-3">Registrar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
